<div class="search-container">
  <div class="row">
    <div class="col-md-12">
      <search-card
              [query]="searchQuery$ | async"
              (search)="performSearch($event)"
      ></search-card>
    </div>
  </div>

  <div class="row">
      <div class="col-md-4">
          <!--<trending
          [trends]="trending$ | async"
          >
          </trending>-->
      </div>
      <div class="col-md-8">
          <repo-list
                  [repos]="repos$ | async"
                  [query]="searchQuery$ | async"
                  [isLoading]="isLoading$ | async"
          ></repo-list>
      </div>
  </div>
</div>