<clr-header>
    <div class="header">
        <div class="branding">
            <h1 [routerLink]="['']">GitHub Repo Search</h1>
        </div>

        <form class="search">
            <label for="search_input">
                <input id="search_input" type="text" placeholder="Search for keywords...">
            </label>
        </form>
        <div class="call-to-action">
            <p>Search to find your favourite GitHub Repository</p>
        </div>

        <div class="header-actions">
            <clr-dropdown clrMenuPosition="bottom-right">
                <button class="nav-icon" clrDropdownToggle>
                    <clr-icon shape="user"></clr-icon>
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu>
                    <a href="..." clrDropdownItem>Logout</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>

    </div>
</clr-header>