@import '~clarity-ui/src/color/utils/_colors.clarity.scss';

.header {

  display: flex;

  .branding {

    h1 {
      color: #fff;
      margin-top: 8px;
      cursor: pointer;

    }
  }

  .call-to-action {
    p {
      align-self: center;
      margin-right: 1.5rem;
      margin-top: 21px;
      color: $clr-dark-midtone-gray;
    }
  }

  .header-actions {
    margin-left:auto;
    justify-content: flex-end;
    display: flex;
  }
}