<div class="card">
    <div class="card-header">
        Trending Repositories
    </div>
    <div class="card-block">
        <md-list>
            <md-list-item *ngFor="let trend of trends">

                <div class="headline">
                    {{trend.name}}
                    <span class="label label-orange" title="Stars">Stars:
                        <span class="badge">{{trend.stargazers_count | number}}</span>
                    </span>
                </div>
            </md-list-item> 
        </md-list>
    </div>
</div>